:root {
  --main-color: #000000;
  --brand-color: #D41443;
  --second-color: #FFB8CA;
  --third-color: #FFFFFF;
  --first-bg-color: #FFF5F6;
  --count-cards: 3;
  --dst-between: 32px;
  --animation-regular: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about {
  padding-top: 60px;
  background-color: var(--first-bg-color);
}
.about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about__title {
  text-align: center;
}
.about__img {
  margin-top: 32px;
  margin-bottom: 40px;
}
.about__text-info {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: var(--main-color);
  width: 220px;
  padding-bottom: 40px;
  text-align: start;
}
@media screen and (min-width: 768px) {
  .about__text-info {
    font-size: 14px;
    line-height: 1.79;
    width: 334px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .about__text-info {
    font-size: 16px;
    line-height: 1.75;
    width: 463px;
    padding-bottom: 32px;
    z-index: 1;
  }
}
.about__text-label {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: #907e82;
  width: 220px;
}
@media screen and (min-width: 768px) {
  .about__text-label {
    font-size: 14px;
    line-height: 1.79;
    width: 334px;
  }
}
@media screen and (min-width: 1200px) {
  .about__text-label {
    font-size: 16px;
    line-height: 1.75;
    width: 463px;
  }
}
.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
@media screen and (min-width: 768px) {
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 40px;
    gap: 32px;
    z-index: 1;
  }
}
@media screen and (min-width: 1200px) {
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 150px;
    gap: 99px;
  }
}
@media screen and (min-width: 1200px) {
  .about__item {
    padding-top: -120px;
  }
}
.about__item-foto {
  position: absolute;
  bottom: 150px;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  z-index: 0;
  -webkit-animation: animate__zoomInDown;
          animation: animate__zoomInDown;
  display: inline-block;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about__item-foto {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .about__item-foto {
    position: absolute;
    bottom: 0px;
    z-index: -1;
  }
}
.about__button {
  width: 176px;
  height: 44px;
  background-color: var(--third-color);
  border-radius: 22px;
  color: var(--brand-color);
  margin-top: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  cursor: pointer;
}
.about__button:hover, .about__button:focus {
  background-color: #ecebeb;
}
.about__button-img {
  margin-left: 13px;
}
@media screen and (min-width: 1200px) {
  .about__logo {
    margin-top: -130px;
  }
}
.about__modal-btn {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: auto;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.about__modal-btn:hover {
  fill: blue;
}
.about__text-modal {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}
.about__modal-img {
  display: block;
  max-width: 90%;
  height: auto;
  margin: auto;
  margin-top: 40px;
}

.about__backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #fff5f6;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.about__list.about__is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.about__backdrop.about__is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.about__modal {
  position: absolute;
  width: 450px;
  height: 609px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .about__modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .about__modal {
    width: 528px;
    height: 581px;
  }
}

body {
  font-family: "DM Sans", sans-serif;
  color: var(--main-color);
  font-size: 16px;
}

p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p,
ol,
ul {
  margin: 0px;
  padding-left: 0px;
}

.list-style {
  list-style: none;
}

.link {
  text-decoration: none;
  display: block;
  list-style: none;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: "Roboto", sans-serif;
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.table-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--dst-between);
}

.table-item {
  width: calc((100% - var(--dst-between) * (var(--count-cards) - 1)) / var(--count-cards));
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  overflow: hidden;
}
@media screen and (min-width: 320px) {
  .container {
    min-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.title__label {
  font-family: "Titan One";
  text-transform: uppercase;
  color: #ffa5ba;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  .title__label {
    padding-bottom: 16px;
    font-size: 18px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) {
  .title__label {
    padding-bottom: 12px;
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .title__label {
    padding-bottom: 16px;
    font-size: 30px;
    line-height: 1.13;
  }
}

.title {
  font-family: "Titan One";
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--brand-color);
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  margin-top: 15px;
}
@media screen and (max-width: 767px) {
  .title {
    font-size: 34px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 48px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}/*# sourceMappingURL=main.css.map */